<!DOCTYPE html>
<html>

<head>
    <title>McDonald's signup_page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <h1> McDonald's </h1>
        <hr />
    </header>

    <nav>
        <a href="/"> 메인</a>
        회원가입
        <a href="/login"> 로그인</a>
        <hr />
    </nav>

    <section>
        <h4> 기본정보 </h4>
        <form method="post">
            <p class="box"><label>ID:
                    <input name="id" type="text" autofocus required>
                </label></p>

            <p class="box"><label>PW:
                    <input name="pw" type="password" size="14" maxlength="20" required>
                </label></p>

            <p class="box"><label>B-Day:
                    <input name="birthday" type="date">
                </label></p>

            <p class="box"><label>Grade:
                    1학년<input type="radio" name="grade" value="1" checked>
                    2학년<input type="radio" name="grade" value="2">
                    3학년<input type="radio" name="grade" value="3">
                    4학년<input type="radio" name="grade" value="4">
                </label></p>

            <p class="box"><label>Tel:
                    <input name="ptel" type="tel" pattern="\d{3}\-d{4}-\d{4}" placeholder="010-1234-5678" required>
                </label></p>

            <p class="box"><label>E-mail:
                    <input name="email" type="email" autocomplete="on" placeholder="name@domain.com">
                </label></p>

            <input class="button" type="submit" value="create">
            <input class="button" type="reset" value="cancel">
        </form>
    </section>
</body>

</html>